@media (min-width: 1900px) { /*4k*/
    nav {
        height: 90px;
        margin: -100px 0;
    }
    .header{
        margin: 100px 10em 0;
    }
    .yeyemek {
        height: 13em;
        width: 26em;
    }
    .profil {
        height: 4.1em;
        width: 4.1em;
    }
    .search-bar {
        width: 350px;
        padding: 18px;
    }
    .ara {
        padding: 18px 22px;
    }
    .buy {
        padding: 12px;
    }
    .filter-container {
        width: 350px;
    }
    .restaurant-grid {
        grid-template-columns: repeat(4, 1fr); /* Üç sütunlu düzen */
    }
    .restaurant-box img {
        height: 280px;
    }
}
@media (min-width: 1500px ) and (max-width: 1900px) { /*L leptop-4k*/ 
    .filter-container {
        width: 300px;
    }

    .restaurant-box img {
        height: 230px;
    }
}

@media (min-width: 480px ) and (max-width: 1200px) { /*leptop-tablet*/
    .header {
        margin: 90px 2em 0;
    }

    .yeyemek {
        margin-left: 2em;
    }

    .profil {
        margin-right: 2em;
    }

    .search-bar {
        width: 220px;
    }

    .ara {
        padding: 13px 15px;
    }

    .content {
        margin: 0;
    }

    .restaurant {
        margin: 0;
    }

    main {
        margin: 15px 2em 15px 1em;
    }

    .contact {
        margin: 40px 2em;
    }

    .copy {
        margin: 4em 2em;
    }
}
@media (max-width: 880px ) {
    .cart {
        margin-right: -1em;
    }
    .cart-text {
        font-size: 0;
    }
    .yeyemek {
        height: 8em;
        width: 16em;
    }
    .profil {
        height: 3em;
        width: 3em;
    }
    .menu {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }   
        .menu img {
            width: 100%;
        }
    .restaurant-grid {
        grid-template-columns: repeat(2, 1fr); 
    }
}