
    @media(min-width: 1600px) and (max-width: 2100px) {
        /*L leptop-4k*/
        nav {
            padding: 0 5%;
            width: 90%;
            height: 120px;
        }

            nav img {
                width: 400px;
            }

        .nav-end {
            width: 55%;
        }

            .nav-end svg {
                width: 30px;
                height: 30px;
            }

            .nav-end a svg {
                width: 75px;
                height: 75px;
            }

        .search-bar {
            height: 60px;
            width: 400px;
            font-size: 20px;
        }

        .search-button {
            height: 60px;
            width: 80px;
        }

        .cart {
            width: 200px;
            height: 60px;
        }

        .cart-text {
            font-size: 20px;
        }

        main {
            padding: 0 5%;
            width: 90%;
            gap: 20px;
        }

        .header {
            padding-top: 50px;
        }

        .location {
            width: 600px;
            height: 80px;
            font-size: 20px;
        }

            .location svg {
                width: 35px;
                height: 35px;
            }

        .tracking {
            width: 200px;
            height: 60px;
            font-size: 20px;
        }

            .tracking svg {
                width: 35px;
                height: 35px;
            }

        .sec {
            margin: 0;
            gap: 20px;
        }

        .Slides {
            width: 1000px;
            height: 500px;
        }

            .Slides img {
                width: 1000px;
                height: 500px;
                object-fit: contain;
            }

        .best {
            width: 1000px;
            height: 500px;
            font-size: 20px;
        }

            .best svg {
                width: 35px;
                height: 35px;
            }

        .menu button {
            border: 2px solid #ccc;
            font-size: 18px;
        }

        .restaurant-grid {
            grid-template-columns: repeat(4, 1fr);
            grid-auto-rows: 260px;
        }

        .restaurant-box {
            height: 260px;
        }

        .filter-container h2 {
            font-size: 2em;
        }

        .filter-group h5 {
            font-size: 24px;
        }

        .filter-group label {
            font-size: 20px;
        }

        .filter-group select {
            font-size: 20px;
            height: 45px;
        }

        .filter-group button {
            font-size: 20px;
            padding: 10px 0;
        }

    }


@media (min-width: 950px ) and (max-width: 1300px) { /*leptop-tablet*/

    nav {
        padding: 0 2%;
        width: 96%;
    }

    .nav-end {
        width: 60%;
    }

    main {
        padding: 0 2%;
        width: 96%;
    }

    .restaurant-grid {
        grid-template-columns: repeat(3, 1fr);
    }

}
@media (min-width: 800px ) and (max-width: 950px) { /*leptop-tablet*/

    nav {
        padding: 0 2%;
        width: 96%;
    }

    .nav-end {
        width: 60%;
    }

    .cart {
        width: 15%;
    }

        .cart p {
            margin: 0;
            font-size: 0;
        }

    main {
        padding: 0 2%;
        width: 96%;
    }

    .sec {
        margin: 0;
    }

    .Slides {
        width: 450px;
        height: 225px;
    }

        .Slides img {
            width: 450px;
            height: 225px;
            object-fit: contain;
        }

    .best {
        width: 450px;
        height: 225px;
    }
    .menu {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .restaurant-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 225px;
    }

    .restaurant-box {
        height: 225px;
    }
    .search-bar {
        height: 45px;
        width: 250px;
    }
    .filter-container{
        width: 25%;
    }
}
@media (min-width: 760px ) and (max-width: 800px) { /*leptop-tablet*/

    nav {
        padding: 0 2%;
        width: 96%;
    }

    .nav-end {
        width: 65%;
    }

    .cart {
        width: 15%;
    }

        .cart p {
            margin: 0;
            font-size: 0;
        }

    main {
        padding: 0 2%;
        width: 96%;
    }

    .sec {
        margin: 0;
        flex-wrap: wrap;
        justify-content: center;
    }

    .Slides {
        width: 750px;
        height: 375px;
    }

        .Slides img {
            width: 750px;
            height: 375px;
            object-fit: contain;
        }

    .best {
        width: 750px;
        height: 375px;
    }

    .menu {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .restaurant-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 355px;
    }

    .restaurant-box {
        height: 355px;
    }

    .search-bar {
        height: 45px;
        width: 200px;
    }

    .filter-container {
        width: 25%;
    }
}

@media (min-width: 450px ) and (max-width: 760px) { /*tablet*/

    nav {
        padding: 0;
        width: 100%;
    }
    nav a img {
        width: 200px;
    }
    .nav-end {
        width: 65%;
    }

    .cart {
        width: 15%;
    }

        .cart p {
            margin: 0;
            font-size: 0;
        }

    main {
        padding: 0 2%;
        width: 96%;
    }

    .sec {
        margin: 0;
        flex-wrap: wrap;
        justify-content: center;
    }
    .Slides {
        width: 100%;
        height: 100%;

    }

        .Slides img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    .best{
        margin: 0 5%;
    }
    .menu {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .restaurant {
        flex-direction: column-reverse;
    }
    .restaurant-grid {
        justify-content: center;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 220px;
    }

    .restaurant-box {
        height: 220px;
    }

    .search-bar {
        height: 45px;
        width: 150px;
    }
    .search-button {
        width: 45px;
    }
    .filter-container {
        width: 96%;
    }
    .cart{
        justify-content:center;
    }
    .cart svg{
        width: 0;
        padding: 0;
        margin: 0;
    }

}


